{% extends "base.html" %}
{% block content %}

<h1>Customer Profile</h1>

<p>First name: {{ customer.first_name }}</p>
<p>Last name: {{ customer.last_name }}</p>
<p>Email: {{ customer.email }}</p>

<h2>Rentals</h2>
{% if not customer.rentals %}
  <p>No rentals found.</p>
{% endif %}

{% for rental in customer.rentals %}
  <div class="rental">
      <div class="movie-info">
        <p>Movie title: {{ rental.movie.title }}</p>
        <p>Movie ID: {{ rental.movie.id }}</>
      </div>
      <div class="rental-info">
          <p>Rental ID: {{ rental.id }}</p>
          <p>Rental date: {{ rental.date_rented.strftime('%Y-%m-%d (%H:%M)') }}</p>
          <p>Return date:
            {% if rental.date_returned %}
              {{ rental.date_returned.strftime('%Y-%m-%d (%H:%M)') }}
            {% else %}
              Not returned yet
            {% endif %}
          </p>
      </div>
      <div class="vhs-info">
          <p>VHS tape copy ID: {{ rental.vhs_tape_copy.id }}</p>
          <p>VHS tape copy number: {{ rental.vhs_tape_copy.copy_number }}</p>
      </div>
      <div class="rental-actions">
          {% if not rental.date_returned %}
          <a href="{{ url_for('movies.vhs_return', movie_id=rental.movie.id, vhs_tape_copy_id=rental.vhs_tape_copy.id) }}" id="{{ rental.id }}">Return</a>
          {% else %}
          <p>Returned</p>
          {% endif %}
      </div>
  </div>
  <hr>
{% endfor %}

{% endblock %}
