{% extends "base.html" %}
{% block content %}

<div class="edit-customer__wrapper">
  <h1>Edit Profile</h1>

  <form action="{{ url_for('customers.customer_edit', customer_id=customer.id) }}" method="post">

    <div class="form-control">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="{{ customer.first_name }}">
    </div>

    <div class="form-control">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="{{ customer.last_name }}">
    </div>

    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" value="{{ customer.email }}">
    </div>

    <div class="delete-user-actions">
      <button type="submit">Update</button>
      <button type="button"><a href="{{ url_for('customers.index') }}">Cancel</a></button>
    </div>
  </form>
</div>


{% endblock %}