{% extends "base.html" %}
{% block content %}

<div class="customers-main__wrapper">
  <h1>Display all customers</h1>

  <form action="{{ url_for('customers.customer_search') }}" method="post">
    <h3>Quick search:</h3>

    <div class="form-control">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" id="first_name"> <br>
    </div>

    <div class="form-control">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name"> <br>
    </div>

    <div class="form-control">
      <label for="email">Email</label>
      <input type="text" name="email" id="email"> <br>
    </div>

    <input type="submit" value="Search">

  </form>

  <div class="customers-list__wrapper">
      {% if customers_all %}
      {% for customer in customers_all %}

      <div class="customer-list__item">
        <div class="customer-list__details">
          <div class="customer-list__name">
            <h3>{{ customer.first_name }} {{ customer.last_name }}</h3>
          </div>
          <div class="customer-list__email">
            <p>{{ customer.email }}</p>
          </div>
        </div>
        <div class="customer-list__actions">
          <a href="{{ url_for('customers.customer_profile', customer_id=customer.id) }}" id="{{ customer.id }}">Details</a>
          <a href="{{ url_for('customers.customer_edit', customer_id=customer.id) }}" id="{{ customer.id }}">Edit</a>
          <a href="{{ url_for('customers.customer_delete', customer_id=customer.id) }}" id="{{ customer.id }}">Delete</a>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <div>
        <p class="text-center">No customers in the database.</p>
      </div>
      {% endif %}
  </div>
</div>

{% endblock %}