{% extends "base.html" %}
{% block content %}

<h1>Show all Customers in the database</h1>

<h3>Quick search:</h3>
<form action="{{ url_for('customers.customer_search') }}" method="post">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name"> <br>
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name"> <br>
  <label for="email">Email</label>
  <input type="text" name="email" id="email"> <br>
  <input type="submit" value="Search">
</form>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>

  {% if customers_all %}
  {% for customer in customers_all %}
  <tr>
    <td>{{ customer.first_name }}</td>
    <td>{{ customer.last_name }}</td>
    <td>{{ customer.email }}</td>
    <td>
      <a href="{{ url_for('customers.customer_edit', id=customer.id) }}" id="{{ customer.id }}">Edit</a>
      <a href="{{ url_for('customers.customer_delete', id=customer.id) }}" id="{{ customer.id }}">Delete</a>
      <a href="{{ url_for('customers.customer_profile', id=customer.id) }}" id="{{ customer.id }}">Details</a>
  </tr>
  {% endfor %}

  {% else %}
  <tr>
    <td colspan="7">No customers in the database.</td>
  </tr>
  {% endif %}
</table>

{% endblock %}