{% extends "base.html" %}
{% block content %}

<h1>Show all Movies in the database</h1>

<h3>Quick search:</h3>
<form action="{{ url_for('movies.movie_search') }}" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title"> <br>
  <label for="director">Director</label>
  <input type="text" name="director" id="director"> <br>
  <label for="genre">Genre</label>
  <input type="text" name="genre" id="genre"> <br>
  <input type="submit" value="Search">
</form>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Director</th>
    <th>Genre</th>
    <th>Actions</th>
    <th>Details</th>
  </tr>

  {% if movies_all %}
  {% for movie in movies_all %}
  <tr>
    <td>{{ movie.id }}</td>
    <td>{{ movie.title }}</td>
    <td>{{ movie.director }}</td>
    <td>{{ movie.genre }}</td>
    <td>
      <a href="{{ url_for('movies.movie_edit', movie_id=movie.id) }}" id="{{ movie.id }}">Edit</a>
      <a href="{{ url_for('movies.movie_delete', movie_id=movie.id) }}" id="{{ movie.id }}">Delete</a>
      <a href="{{ url_for('movies.movie_details', movie_id=movie.id) }}" id="{{ movie.id }}">Details</a>
    </td>
    <td>
      <p>{{ movie.vhs_tape_copy|length }} copies of this VHS are in the database.</p>
      {% for vhs_detail in movie.vhs_tape_copy %}
      <p>{{ vhs_detail.copy_number }} - {% if vhs_detail.is_available %}
          <span>This VHS copy is available.</span>
      {% else %}
          <span style="text-decoration:line-through;">This VHS copy is not available.</span>
      {% endif %}
      </p>
      {% endfor %}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="7">No movies in the database.</td>
  </tr>
</table>



{% endif %}

{% endblock %}