{% extends "base.html" %}
{% block content %}

<div class="all-movies__wrapper">
  <h1>Show all Movies</h1>

  <form action="{{ url_for('movies.movie_search') }}" method="post">
    <h3>Quick search:</h3>

    <div class="form-control">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title"> <br>
    </div>

    <div class="form-control">
      <label for="director">Director:</label>
      <input type="text" name="director" id="director"> <br>
    </div>

    <div class="form-control">
      <label for="genre">Genre:</label>
      <input type="text" name="genre" id="genre"> <br>
    </div>

    <input type="submit" value="Search">

  </form>

  <div class="sort-btns__container">
    <button class="btn-sort-date" data-sortby="date_added">Date</button>
    <button class="btn-sort" data-sortby="title">Title</button>
    <button class="btn-sort" data-sortby="director">Director</button>
    <button class="btn-sort" data-sortby="genre">Genre</button>
    <button class="btn-sort" data-sortby="rating">Rating</button>
  </div>

  <div class="loadingSpinner">
    <p>Loading...</p>
  </div>
  <div class="pagination__container" id="pagination"></div>
  <div class="movies-list__container" id="moviesList"></div>
</div>

<script type="module">
  // found option to import (up-to-date) date-fns from CDN here: https://www.skypack.dev/view/date-fns
  import { parse, compareAsc, compareDesc } from "https://cdn.skypack.dev/date-fns";
  let movies = []

  function displayMovies() {
    const moviesList = document.getElementById('moviesList');
    moviesList.innerHTML = '';
    console.log('all movies: ', movies);
    if (movies.length === 0 || movies === undefined) {
      moviesList.innerHTML = '<p>No movies in the database.</p>';
      return;
    }
    movies.forEach(function(movie) {
      const movieDiv = document.createElement('div');
      movieDiv.classList.add('movie__container');
      movieDiv.innerHTML = `
        <section class="movie__details">
          ${movie.image ? `<img src="${movie.image}" alt="${movie.title}">` : `<img src="/static/img/movie-default.jpg" alt="fallback image">`}
          <h2>${movie.title}</h2>
          <div class="movie-info__container">
            <p><span>Director:</span> ${movie.director}</p>
            <p><span>Genre:</span> ${movie.genre}</p>
            <p><span>Rating:</span> ${movie.rating}</p>
          </div>
          <div class="movie-actions__container">
            <a href="{{ url_for('movies.movie_edit', movie_id="") }}${movie.id}">Edit</a>
            <a href="{{ url_for('movies.movie_delete', movie_id="") }}${movie.id}">Delete</a>
            <a href="{{ url_for('movies.movie_details', movie_id="") }}${movie.id}">Details</a>
          </div>
        </section>
        <article class="vhs-copy__details">
          <p>${movie.vhs_copies.filter(copy => !copy.is_removed).length} copies of this VHS are in the database.</p>
          <ul>
            ${movie.vhs_copies.map(function(copy) {
              if (!copy.is_removed) return `
                  <li>${copy.copy_number} - ${copy.is_available ? '<span>VHS copy is available.</span>' : '<span style="text-decoration:line-through;">VHS copy is not available.</span>'}</li>
                    `;
            }).join('')}
          </ul>
        </article>
      `;
      moviesList.appendChild(movieDiv);
    });
  }

  // Fetch movies from server and display them on page
  async function getMovies(page = 1) {
    try {
      // Fetch movies from server, starting from the page specified.
      const response = await fetch(`/movies/movies-data?page=${page}`);
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      const data = await response.json();
      movies = data.movies;
      document.querySelector('.loadingSpinner').style.display = 'none';
      // Display the movies on the page
      displayMovies();

      // Generate pagination buttons
      createPagination(data.current_page, data.total_pages)
    } catch (error) {
      console.error(error);
      moviesList.innerHTML = `<p>There was an error loading the movies, Please contact developer. Error: ${error}</p>`;
    }
  }

  // Create pagination buttons
  function createPagination(currentPage, totalPages) {
    console.log(totalPages);
    const paginationContainer = document.getElementById('pagination');
    paginationContainer.innerHTML = '';

    // Add a "previous" button if the current page is not the first page
    const prevBtn = document.createElement('button');
    prevBtn.textContent = 'Previous';
    prevBtn.classList.add('pagination__btn');
    prevBtn.disabled = currentPage === 1;
    prevBtn.addEventListener('click', () => getMovies(currentPage - 1));
    paginationContainer.appendChild(prevBtn);

    // Calculate the range of pages to display
    let startPage = Math.max(1, currentPage - 3);
    let endPage = Math.min(totalPages, currentPage + 3);
    if (currentPage <= 4) {
      endPage = Math.min(totalPages, 7);
    }
    if (currentPage >= totalPages - 3) {
      startPage = Math.max(1, totalPages - 6);
    }

    // Add ellipsis (...) if the range of pages is not all the pages
    if (startPage > 1) {
      const ellipsis = document.createElement('span');
      ellipsis.textContent = '...';
      paginationContainer.appendChild(ellipsis);
    }

    // Display page buttons for the range of pages
    for (let page = startPage; page <= endPage; page++) {
      const pageBtn = document.createElement('button');
      pageBtn.textContent = page;
      pageBtn.classList.add('pagination__btn');

      if(page === currentPage) pageBtn.classList.add('pagination__btn--active');

      pageBtn.addEventListener('click', () => getMovies(page));
      paginationContainer.appendChild(pageBtn);
    }

    // Add ellipsis (...) after the current page if the range of pages is not all the pages
    if (endPage < totalPages) {
      const ellipsis = document.createElement('span');
      ellipsis.textContent = '...';
      paginationContainer.appendChild(ellipsis);
    }

    // Add next button
    const nextBtn = document.createElement('button');
    nextBtn.textContent = 'Next';
    nextBtn.classList.add('pagination__btn');
    nextBtn.disabled = currentPage === totalPages;
    nextBtn.addEventListener('click', () => getMovies(currentPage + 1));
    paginationContainer.appendChild(nextBtn);

    // Display total page count
    const totalPagesCount = document.createElement('span')
    totalPagesCount.textContent = `Total pages: ${totalPages}`;
    paginationContainer.appendChild(totalPagesCount);
}





  // Sort movies functionality
  let sortAscending = false;

  function sortMovies(sortBy) {
    if (sortAscending) {
      movies.sort((a, b) => a[sortBy] > b[sortBy] ? 1 : -1);
    } else {
      movies.sort((a, b) => a[sortBy] < b[sortBy] ? 1 : -1);
    }
    sortAscending = !sortAscending;
    displayMovies();
  }

  function sortByDate(sortBy) {
    if (sortAscending) {
      movies.sort((a, b) => compareAsc(parse(a[sortBy], 'dd-MM-yyyy (hh:mm:ss a)', new Date()), parse(b[sortBy], 'dd-MM-yyyy (hh:mm:ss a)', new Date())));
    } else {
      movies.sort((a, b) => compareDesc(parse(a[sortBy], 'dd-MM-yyyy (hh:mm:ss a)', new Date()), parse(b[sortBy], 'dd-MM-yyyy (hh:mm:ss a)', new Date())));
    }
    sortAscending = !sortAscending;
    displayMovies();
  }



  // Run the getMovies function when the page loads
  getMovies();

  /////// Add event listeners to the sort buttons
  // Sort the movies by title when the "Sort by Title" button is clicked
  document.querySelectorAll('.btn-sort').forEach(function(btn) {
    const sortBy = btn.dataset.sortby;
    btn.addEventListener('click', function() {
      sortMovies(sortBy);
    });
  });

  // Sort the movies by date when the "Sort by Date" button is clicked
  document.querySelector('.btn-sort-date').addEventListener('click', function() {
    sortByDate('date_added');
  });
</script>


{% endblock %}