{% extends "base.html" %}
{% block content %}

<h1>Show all Movies in the database</h1>

<h3>Quick search:</h3>
<form action="{{ url_for('movies.movie_search') }}" method="post">

  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"> <br>
  </div>

  <div class="form-control">
    <label for="director">Director</label>
    <input type="text" name="director" id="director"> <br>
  </div>

  <div class="form-control">
    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre"> <br>
  </div>

  <input type="submit" value="Search">

</form>

<button class="btn-sort-date" data-sortby="date_added">Sort by Date</button>
<button class="btn-sort" data-sortby="title">Sort by Title</button>
<button class="btn-sort" data-sortby="director">Sort by Director</button>
<button class="btn-sort" data-sortby="genre">Sort by Genre</button>
<button class="btn-sort" data-sortby="rating">Sort by Rating</button>

<div class="loadingSpinner">Loading...</div>
<div id="moviesList"></div>

<script type="module">
  // found option to import (up-to-date) date-fns from CDN here: https://www.skypack.dev/view/date-fns
  import { parse, compareAsc, compareDesc } from "https://cdn.skypack.dev/date-fns";
  let movies = []

  function displayMovies() {
    const moviesList = document.getElementById('moviesList');
    moviesList.innerHTML = '';
    console.log('all movies: ', movies);
    if (movies.length === 0 || movies === undefined) {
      moviesList.innerHTML = '<p>No movies in the database.</p>';
      return;
    }
    movies.forEach(function(movie) {
      const movieDiv = document.createElement('div');
      movieDiv.classList.add('movie__container');
      movieDiv.innerHTML = `
        <section class="movie__details">
          <h2>${movie.title}</h2>
          <p>${movie.director}</p>
          <p>${movie.genre}</p>
          <p>${movie.rating}</p>
          <a href="{{ url_for('movies.movie_edit', movie_id="") }}${movie.id}">Edit</a>
          <a href="{{ url_for('movies.movie_delete', movie_id="") }}${movie.id}">Delete</a>
          <a href="{{ url_for('movies.movie_details', movie_id="") }}${movie.id}">Details</a>
        </section>
        <article class="vhs-copy__details">
          <p>${movie.vhs_copies.filter(copy => !copy.is_removed).length} copies of this VHS are in the database.</p>
          <ul>
            ${movie.vhs_copies.map(function(copy) {
              if (!copy.is_removed) return `
                  <li>${copy.copy_number} - ${copy.is_available ? '<span>This VHS copy is available.</span>' : '<span style="text-decoration:line-through;">This VHS copy is not available.</span>'}</li>
                    `;
            }).join('')}
          </ul>
        </article>
      `;
      moviesList.appendChild(movieDiv);
    });
  }

  // Fetch movies from server and display them on page
  async function getMovies() {
    try {
      const response = await fetch('/movies/movies-data');
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      const data = await response.json();
      movies = data.movies;
      document.querySelector('.loadingSpinner').style.display = 'none';
      displayMovies();
    } catch (error) {
      console.error(error);
      moviesList.innerHTML = `<p>There was an error loading the movies, Please contact developer. Error: ${error}</p>`;
    }
  }

  // Sort movies functionality
  let sortAscending = false;

  function sortMovies(sortBy) {
    if (sortAscending) {
      movies.sort((a, b) => a[sortBy] > b[sortBy] ? 1 : -1);
    } else {
      movies.sort((a, b) => a[sortBy] < b[sortBy] ? 1 : -1);
    }
    sortAscending = !sortAscending;
    displayMovies();
  }

  function sortByDate(sortBy) {
    if (sortAscending) {
      movies.sort((a, b) => compareAsc(parse(a[sortBy], 'dd-MM-yyyy HH:mm:ss', new Date()), parse(b[sortBy], 'dd-MM-yyyy HH:mm:ss', new Date())));
    } else {
      movies.sort((a, b) => compareDesc(parse(a[sortBy], 'dd-MM-yyyy HH:mm:ss', new Date()), parse(b[sortBy], 'dd-MM-yyyy HH:mm:ss', new Date())));
    }
    sortAscending = !sortAscending;
    displayMovies();
  }

  // Run the getMovies function when the page loads
  getMovies();

  /////// Add event listeners to the sort buttons
  // Sort the movies by title when the "Sort by Title" button is clicked
  document.querySelectorAll('.btn-sort').forEach(function(btn) {
    const sortBy = btn.dataset.sortby;
    btn.addEventListener('click', function() {
      sortMovies(sortBy);
    });
  });

  // Sort the movies by date when the "Sort by Date" button is clicked
  document.querySelector('.btn-sort-date').addEventListener('click', function() {
    sortByDate('date_added');
  });
</script>


{% endblock %}