{% extends "base.html" %}
{% block content %}

<h1>{{ movie.title }} Details</h1>


<p>Director: {{ movie.director }}</p>
<p>Genre: {{ movie.genre }}</p>
<p>Total copies: {{ movie.vhs_tape_copy|length }}</p>
<p>Available copies: {{ movie.available_count() }}</p>

<h3>VHS copy details:</h3>
<table>
  <tr>
    <th>Copy number</th>
    <th>Is available</th>
    <th>Rent</th>
    <th>History</th>
    <th>Actions</th>
  </tr>

  {% if movie.vhs_tape_copy %}
  {% for vhs_tape in movie.vhs_tape_copy %}
  <tr>
    <td>{{ vhs_tape.copy_number }}</td>
    <td>{% if vhs_tape.is_available %}
        Yes
    {% else %}
        No
    {% endif %}
    </td>
    <td>
      {% if vhs_tape.is_available %}
        <a href="{{ url_for('movies.vhs_rent', movie_id=movie.id, vhs_tape_copy_id=vhs_tape.id) }}">Rent</a>
      {% else %}
        <a href="{{ url_for('movies.vhs_return', movie_id=movie.id, vhs_tape_copy_id=vhs_tape.id) }}">Return</a>
      {% endif %}
    </td>
    <td>
      <a href="{{ url_for('movies.vhs_history', movie_id=movie.id, vhs_tape_copy_id=vhs_tape.id) }}">History</a>
    </td>
    <td>
      <a href="{{ url_for('movies.vhs_remove', movie_id=movie.id, vhs_tape_copy_id=vhs_tape.id) }}">Delete</a>
    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="5">No VHS copies in the database.</td>
  </tr>
</table>

{% endif %}

<a href="{{ url_for('movies.vhs_add_tape', movie_id=movie.id) }}">Add VHS copy</a>

{% endblock %}