{% extends "base.html" %}
{% block content %}

<h1>{{ movie.title }} Details</h1>


<p>Director: {{ movie.director }}</p>
<p>Genre: {{ movie.genre }}</p>
<p>Total copies: {{ movie.vhs_details|length }}</p>
<p>Available copies: {{ movie.available_count() }}</p>

<h3>Copy details:</h3>
<table>
  <tr>
    <th>Copy number</th>
    <th>Is available</th>
    <th>Rent</th>
    <th>History</th>
  </tr>
  {% for vhs_detail in movie.vhs_details %}
  <tr>
    <td>{{ vhs_detail.copy_number }}</td>
    <td>{% if vhs_detail.is_available %}
        Yes
    {% else %}
        No
    {% endif %}
    </td>
    <td>
      {% if vhs_detail.is_available %}
        <a href="{{ url_for('movies.vhs_rent', movie_id=movie.id, vhs_detail_id=vhs_detail.id) }}">Rent</a>
      {% else %}
        <a href="{{ url_for('movies.vhs_return', movie_id=movie.id, vhs_detail_id=vhs_detail.id) }}">Return</a>
      {% endif %}
    </td>
    <td>
      <a href="{{ url_for('movies.vhs_history', movie_id=movie.id, vhs_detail_id=vhs_detail.id) }}">History</a>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{{ url_for('movies.vhs_add_tape', movie_id=movie.id) }}">Add VHS copy</a>

{% endblock %}