body {
  background-color: #494c6f;
}

.movie__container {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 800px;
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}

.featured-movies__container {
  margin: 1rem auto;
  padding: 1rem;
  display: none;
  flex-direction: row;
  gap: 2rem;
  border: 1px solid black;
}

.forms__container {
  margin: 1rem auto;
  padding: 3rem;
  display: flex;
  max-width: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.due-today__container {
  margin: 1rem auto;
  padding: 1rem;
  display: none;
  flex-direction: row;
  gap: 2rem;
  border: 1px solid black;
}
