:root {
  /* Colors */

  --primary-color: #ffaa00;
  --secondary-color: #219ebc;
  --dark-blue-color: #1d3557;
  --tertiary-color: #4e7bff;
  --quaternary-color: #ff5c5c;
  --black-color: #000000;
  --black-text-color: #212529;
  --grey-text-color: #333533;
  --white-color: #ffffff;

  /* Font */
  --font-main: 'Rajdhani', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}

/* Box sizing rules by Picallily */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Default selectors */
h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black-text-color);
}

input,
label {
  color: var(--black-text-color);
}

input[type='submit'] {
  background-color: var(--quaternary-color);
  color: var(--white-color);
  border: 1px solid var(--black-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* menu is off-screen that is why need to hide horizontal overflow */
  overflow-x: hidden;

  font-family: var(--font-main);
}

/* MAIN CONTAINER */
.main__wrapper {
  color: var(--white-color);
  border: 4px solid var(--black-color);
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.main__wrapper main {
  background-color: var(--secondary-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
}

/* MOBILE HAMBURGER MENU */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  width: 100%;
  transition: all 300ms ease-in-out;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black-color);
  width: 100%;
  transition: all 300ms ease-in-out;
}

.main-logo {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-links {
  position: fixed;
  right: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: all 400ms ease-in-out;
  margin: 0;
  overflow-y: auto;
  visibility: hidden;
  z-index: 999;
}

.nav-links li {
  opacity: 0;
  list-style: none;
}

.nav-links li a {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  margin: 1rem 0;
  transition: all 300ms ease-in-out;
}

.nav-active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.burger {
  cursor: pointer;
  z-index: 999;
}

.burger div {
  width: 28px;
  height: 4px;
  background-color: #ddd;
  margin: 5px;
  transition: all 300ms ease-in;
}

/* FOOTER */

footer {
  border-top: 1px solid var(--black-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

footer a {
  color: var(--white-color);
  padding: 0 1.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
  transition: color 0.5s cubic-bezier(0.5, 0, 0, 1);
}

footer a:hover {
  color: var(--black-color);
}

footer p {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

/* Users */

/* Unlogged user */
.unlogged__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
}

.unlogged__wrapper h1 {
  position: relative;
  color: var(--grey-text-color);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  z-index: 0;
}

.unlogged__wrapper h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 29%;
  width: 72%;
  height: 3rem;
  background-color: var(--quaternary-color);
  transform: skewX(-20deg);
  z-index: -1;
}

.unlogged__wrapper p {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.unlogged__hero {
  position: relative;
}

.unlogged__hero a {
  position: absolute;
  top: 30%;
  left: 25%;
  color: var(--quaternary-color);
  background-color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 1.5rem;
  border: 3px solid var(--quaternary-color);
  padding: 1rem 2rem;
  border-radius: 5px;
}

/* Login */

.login__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__wrapper h1 {
  position: relative;
  color: var(--grey-text-color);
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  z-index: 0;
}

.login__wrapper h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 29%;
  width: 73%;
  height: 3rem;
  background-color: var(--quaternary-color);
  transform: skewX(-20deg);
  z-index: -1;
}

.login__wrapper form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey-text-color);
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.login__wrapper form input[type='submit'] {
  background-color: var(--quaternary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

/* Customers */

/* Add Customer */

.customer-add__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-add__wrapper h1 {
  position: relative;
  color: var(--grey-text-color);
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  z-index: 0;
}

.customer-add__wrapper h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 29%;
  width: 73%;
  height: 3rem;
  background-color: var(--quaternary-color);
  z-index: -1;
  opacity: 0.8;
  transform: skewX(-20deg);
}

.customer-add__wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.customer-add__wrapper form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-add__wrapper form .form-control label {
  align-self: start;
  margin-left: 15%;
  margin-bottom: -0.2rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.customer-add__wrapper form .form-control input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black-text-color);
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
}

.customer-add__wrapper form input[type='submit'] {
  padding: 0.8rem 1.2rem;
  margin-top: 0.4rem;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

@media screen and (min-width: 1440px) {
  .menu-mobile {
    display: none;
  }

  /* MAIN CONTAINER */
  .main__wrapper {
    color: var(--white-color);
    border: 4px solid var(--black-color);
    display: flex;
    height: 90vh;
    width: 90vw;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: rgba(240, 46, 170, 0.4) 3px 3px, rgba(240, 46, 170, 0.3) 6px 6px,
      rgba(240, 46, 170, 0.2) 9px 9px, rgba(240, 46, 170, 0.1) 12px 12px,
      rgba(240, 46, 170, 0.05) 15px 15px;
  }

  .main__wrapper main {
    background-color: var(--secondary-color);
    height: 100%;
  }

  /* HEADER - NAVBAR */

  .menu {
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .menu > ol > .menu-item > a {
    position: relative;
  }

  .menu > ol > .menu-item > a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    transform: scaleX(0);
  }

  .menu > ol > .menu-item:hover > a::after {
    transform: scaleX(1);
  }
  .main__wrapper header nav .main-logo {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
  }

  .main__wrapper header nav ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  .main__wrapper header nav ol li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: normal;
  }

  .main__wrapper header nav ol li {
    padding-left: 1.2rem;
    position: relative;
  }

  .menu-item {
    position: relative;
  }

  .menu-item i {
    color: var(--black-color);
    font-size: 1rem;
    background-color: var(--white-color);
    padding: 0.3rem;
    border-radius: 50%;
  }

  .menu-item .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--black-color);
    list-style: none;
    padding-top: 0.8rem;
  }

  .menu-item .sub-menu li {
    padding: 0.5rem 1rem;
    padding-right: 1.5rem;
    transition: background-color 0.3s ease;
  }

  .menu-item .sub-menu li a {
    color: var(--white-color);
    text-decoration: none;
    display: block;
  }

  .menu-item:hover .sub-menu {
    display: block;
  }

  .menu-item .sub-menu li:hover {
    background-color: var(--primary-color);
  }

  /* MOVIES */

  .movie__container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 800px;
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
  }

  .featured-movies__container {
    margin: 1rem auto;
    padding: 1rem;
    display: none;
    flex-direction: column;
    border: 1px solid black;
  }

  .featured-movies--list {
    display: flex;
    flex-direction: row;
  }

  .featured-movies--list-item {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
  }

  .forms__container {
    margin: 1rem auto;
    padding: 3rem;
    display: flex;
    max-width: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
  }

  .due-today__container {
    margin: 0 auto;
    padding: 1rem;
    display: none;
    flex-direction: column;
    border: 1px solid black;
  }

  .due-today--list {
    display: flex;
    flex-direction: row;
  }

  .due-today--list-item {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
  }
}

/* Utility Classes */

/* This class visually hide the content while still making it accessible to screen readers. The 'aria-label' attribute on '<a>' elements are still present to provide additional context. */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.item-crossed {
  text-decoration: line-through;
}

/* Active menu link */
.link-active {
  color: var(--primary-color);
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.text-center {
  text-align: center;
}
