body {
  background-color: #494c6f;
}

.movie__container {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 800px;
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}

.featured-movies__container {
  margin: 1rem auto;
  padding: 1rem;
  display: none;
  flex-direction: column;
  border: 1px solid black;
}

.featured-movies--list {
  display: flex;
  flex-direction: row;
}

.featured-movies--list-item {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.forms__container {
  margin: 1rem auto;
  padding: 3rem;
  display: flex;
  max-width: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.due-today__container {
  margin: 0 auto;
  padding: 1rem;
  display: none;
  flex-direction: column;
  border: 1px solid black;
}

.due-today--list {
  display: flex;
  flex-direction: row;
}

.due-today--list-item {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

/* Utility Classes */

/* This class visually hide the content while still making it accessible to screen readers. The 'aria-label' attribute on '<a>' elements are still present to provide additional context. */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
