{% extends "base.html" %}
{% block content %}

<h1>Show all VHS in the database</h1>

<form action="" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title"> <br>
  <label for="director">Director</label>
  <input type="text" name="director" id="director"> <br>
  <label for="genre">Genre</label>
  <input type="text" name="genre" id="genre"> <br>
  <input type="submit" value="Search">
</form>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Director</th>
    <th>Genre</th>
    <th>Actions</th>
  </tr>
  {% for vhs in vhs_all %}
  <tr>
    <td>{{ vhs.id }}</td>
    <td>{{ vhs.title }}</td>
    <td>{{ vhs.director }}</td>
    <td>{{ vhs.genre }}</td>
    <td>
      <a href="{{ url_for('videocassettes.vhs_edit', id=vhs.id) }}" id="{{ vhs.id }}">Edit</a>
      <a href="{{ url_for('videocassettes.vhs_delete', id=vhs.id) }}" id="{{ vhs.id }}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}