{% extends "base.html" %}
{% block content %}

<h1>VHS EDIT</h1>

<form action="{{ url_for('videocassettes.vhs_edit', id=vhs.id) }}" method="post">

  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="{{ vhs.title }}" required>
  <br>

  <label for="director">Director:</label>
  <input type="text" id="director" name="director" value="{{ vhs.director }}" required>
  <br>

  <label for="genre">Genre:</label>
  <select id="genre" name="genre" required>
    <option value="Fantasy" {% if vhs.genre == "Fantasy" %}selected{% endif %}>Fantasy</option>
    <option value="Horror" {% if vhs.genre == "Horror" %}selected{% endif %}>Horror</option>
    <option value="Thriller" {% if vhs.genre == "Thriller" %}selected{% endif %}>Thriller</option>
    <option value="Animation" {% if vhs.genre == "Animation" %}selected{% endif %}>Animation</option>
    <option value="Adventure" {% if vhs.genre == "Adventure" %}selected{% endif %}>Adventure</option>
    <option value="Family" {% if vhs.genre == "Family" %}selected{% endif %}>Family</option>
    <option value="Crime" {% if vhs.genre == "Crime" %}selected{% endif %}>Crime</option>
    <option value="Documentary" {% if vhs.genre == "Documentary" %}selected{% endif %}>Documentary</option>
    <option value="History" {% if vhs.genre == "History" %}selected{% endif %}>History</option>
    <option value="Music" {% if vhs.genre == "Music" %}selected{% endif %}>Music</option>
    <option value="Comedy" {% if vhs.genre == "Comedy" %}selected{% endif %}>Comedy</option>
    <option value="Action" {% if vhs.genre == "Action" %}selected{% endif %}>Action</option>
    <option value="Mystery" {% if vhs.genre == "Mystery" %}selected{% endif %}>Mystery</option>
    <option value="Sci-Fi" {% if vhs.genre == "Science Fiction" %}selected{% endif %}>Science Fiction</option>
    <option value="Romance" {% if vhs.genre == "Romance" %}selected{% endif %}>Romance</option>
    <option value="Drama" {% if vhs.genre == "Drama" %}selected{% endif %}>Drama</option>
  </select> <br>

  <label for="length">Length</label>
  <input type="number" name="length" id="length" value="{{ vhs.length }}" required> <br>

  <label for="year">Year</label>
  <input type="number" name="year" id="year" value="{{ vhs.year }}" required> <br>

  <label for="rating">Rating</label>
  <input type="text" name="rating" id="rating" value="{{ vhs.rating }}" required> <br>

  <label for="description">Description</label>
  <textarea name="description" id="description" rows="4" cols="25">{{ vhs.description }}</textarea>
  <br>

  <label for="image">Image URL</label>
  <input type="text" name="image" id="image" value="{{ vhs.image }}"> <br>

  <button type="submit">Update</button>
  <button type="button"><a href="{{ url_for('videocassettes.index') }}">Cancel</a></button>
</form>


{% endblock %}