{% extends "base.html" %}
{% block content %}

<h1>{{ vhs.title }} Details</h1>


<p>Director: {{ vhs.director }}</p>
<p>Genre: {{ vhs.genre }}</p>
<p>Total copies: {{ vhs.total_copies }}</p>
<p>Available copies: {{ vhs.available_copies }}</p>

<h3>Copy details:</h3>
<table>
  <tr>
    <th>Copy number</th>
    <th>Is available</th>
    <th>Rent</th>
    <th>History</th>
  </tr>
  {% for vhs_detail in vhs.vhs_details %}
  <tr>
    <td>{{ vhs_detail.copy_number }}</td>
    <td>{% if vhs_detail.is_available %}
        Yes
    {% else %}
        No
    {% endif %}
    </td>
    <td>
      {% if vhs_detail.is_available %}
        <a href="{{ url_for('videocassettes.vhs_rent', vhs_id=vhs.id, vhs_detail_id=vhs_detail.id) }}">Rent</a>
      {% else %}
        <a href="{{ url_for('videocassettes.vhs_return', vhs_id=vhs.id, vhs_detail_id=vhs_detail.id) }}">Return</a>
      {% endif %}
    </td>
    <td>
      <a href="{{ url_for('videocassettes.vhs_history', vhs_id=vhs.id, vhs_detail_id=vhs_detail.id) }}">History</a>
  </tr>
  {% endfor %}
</table>

<a href="{{ url_for('videocassettes.vhs_add_details', vhs_id=vhs.id) }}">Add VHS copy</a>

{% endblock %}