<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block style %}
    {% endblock %}
    <title>retroBuster</title>
</head>

<body>
    <div class="main__wrapper">
        <header>
            {% include 'navbar.html' %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="socialmedia__wrapper">
                <a href="https://github.com/JiiXaa" aria-label="GitHub profile" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <span class="visually-hidden">Visit Github</span>
                </a>
                <a href="https://www.linkedin.com/in/tomasz-ostroga" aria-label="LinkedIn profile" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <span class="visually-hidden">Visit LinkedIn</span>
                </a>
                <a href="https://www.facebook.com/tomasz.ostroga" aria-label="Facebook profile" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                    <span class="visually-hidden">Visit Facebook</span>
                </a>
            </div>
            <p>&copy; 2023 Tomasz Ostroga</p>
        </footer>
    </div>

    <section class="flash__wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes alert">
            {% for message in messages %}
            <li><p>{{ message }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </section>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>