<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    {% block style %}
    {% endblock %}
    <title>retroBuster</title>
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>main footer of the site</p>
        <!-- TODO: add social media here -->
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>