{% extends "base.html" %}
{% block content %}

<p>This is main page</p>

<div class="loadingSpinner">Loading...</div>
<div id="featured-movies"></div>

    <script>
        async function fetchFeaturedMovies() {
            try {
                const response = await fetch("/movies/featured_movies");
                if (!response.ok) {
                    throw new Error("Failed to fetch featured movies");
                }

                const movies = await response.json();
                console.log(movies);

                document.querySelector(".loadingSpinner").style.display = "none";

                const featuredMoviesList = document.getElementById("featured-movies");
                movies.featured_movies.forEach(movie => {
                    const movieDiv = document.createElement("div");
                    movieDiv.innerHTML = `
                        <h3>${movie.title}</h3>
                        <p>${movie.director}</p>
                        <p>${movie.genre}</p>
                        <p>${movie.description}</p>
                        <p>${movie.rating}</p>
                        <p>${movie.available_count} available to rent</p>
                        <a href="{{ url_for('movies.movie_details', movie_id="") }}${movie.id}">Details</a>
                    `;
                    featuredMoviesList.appendChild(movieDiv);
                });
            } catch (error) {
                console.error(error);
                featuredMoviesList.innerHTML = `<p>There was an error loading the movies, Please contact developer. Error: ${error}</p>`;
            }
        }

        fetchFeaturedMovies();
    </script>

{% endblock %}