{% extends "base.html" %}
{% block content %}

<div class="main-page__wrapper">
    <div class="loadingSpinner">Loading...</div>
    <div class="featured-movies__container">
        <h3>Featured Movies:</h3>
        <div class="featured-movies--list" id="featured-movies"></div>
    </div>

    <div class="forms__container">
        <form action="{{ url_for('movies.movie_search') }}" method="post">
            <p>Search movies</p>
            <div class="form-control">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title"> <br>
            </div>

            <div class="form-control">
            <label for="director">Director:</label>
            <input type="text" name="director" id="director"> <br>
            </div>

            <div class="form-control">
            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre"> <br>
            </div>

            <input type="submit" value="Movie Search">
        </form>

        <form action="{{ url_for('customers.customer_search') }}" method="post">
            <p>Search customers</p>
            <div class="form-control">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name"> <br>
            </div>

            <div class="form-control">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name"> <br>
            </div>

            <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email"> <br>
            </div>

            <input type="submit" value="Customer Search">
        </form>
    </div>

    <div class="due-today__container">
        <h3>Movies Due Today:</h3>
        <div class="due-today--list" id="due-today"></div>
    </div>
</div>

    <script>
        // TODO: add loading spinner to all fetches
        async function fetchFeaturedMovies() {
            try {
                const response = await fetch("/movies/featured_movies");
                if (!response.ok) {
                    throw new Error("Failed to fetch featured movies");
                }

                const movies = await response.json();
                console.log(movies);

                document.querySelector(".loadingSpinner").style.display = "none";
                // Show container after data fetched
                document.querySelector(".featured-movies__container").style.display = "flex";

                const featuredMoviesList = document.getElementById("featured-movies");
                movies.featured_movies.forEach(movie => {
                    const movieDiv = document.createElement("div");
                    movieDiv.classList.add("featured-movies--list-item");
                    movieDiv.innerHTML = `
                            <h3>${movie.title}</h3>
                            <p>${movie.director}</p>
                            <p>${movie.genre}</p>
                            <p>${movie.description}</p>
                            <p>${movie.rating}</p>
                            <p>${movie.available_count} available to rent</p>
                            <a href="{{ url_for('movies.movie_details', movie_id="") }}${movie.id}">Details</a>
                    `;
                    featuredMoviesList.appendChild(movieDiv);
                });
            } catch (error) {
                console.error(error);
                featuredMoviesList.innerHTML = `<p>There was an error loading the movies, Please contact developer. Error: ${error}</p>`;
            }
        }

        async function fetchMoviesDueToday() {
            try {
                const response = await fetch("/movies/movies_due_today");
                if (!response.ok) {
                    throw new Error("Failed to fetch movies due today");
                }

                const movies = await response.json();
                console.log('Movies due today: ', movies);

                document.querySelector(".loadingSpinner").style.display = "none";
                // Show container after data fetched
                document.querySelector(".due-today__container").style.display = "flex";

                const moviesDueTodayList = document.getElementById("due-today");
                movies.movies_due_today.forEach(movie => {
                    const movieDiv = document.createElement("div");
                    movieDiv.classList.add("due-today--list-item");
                    movieDiv.innerHTML = `
                            <h3>${movie.title}</h3>
                            <p>${movie.director}</p>
                            <p>${movie.genre}</p>
                            <p>${movie.description}</p>
                            <p>${movie.rating}</p>
                            <p>${movie.available_count} available to rent</p>
                            <a href="{{ url_for('movies.movie_details', movie_id="") }}${movie.id}">Details</a>
                    `;
                    moviesDueTodayList.appendChild(movieDiv);
                });
            } catch (error) {
                console.error(error);
                moviesDueTodayList.innerHTML = `<p>There was an error loading the movies, Please contact developer. Error: ${error}</p>`;
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            fetchFeaturedMovies();
            fetchMoviesDueToday();
        });
    </script>

{% endblock %}