

<nav class="menu">
  <a href="{{ url_for('main.index') }}" class="main-logo">retroBuster</a>
  <ol>
    <li class="menu-item link-active"><a href="{{ url_for('main.index') }}">HOME</a></li>
    {% if session.logged_in %}
    <li class="menu-item">
      <a href="{{ url_for('customers.index') }}">CUSTOMERS</a>
      <ol class="sub-menu">
        <li class="menu-item">
          <a href="{{ url_for('customers.customer_search') }}">SEARCH CUSTOMERS</a>
        </li>
        <li class="menu-item">
          <a href="{{ url_for('customers.customer_add') }}">ADD CUSTOMERS</a>
        </li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="{{ url_for('movies.index') }}">MOVIES</a>
      <ol class="sub-menu">
        <li class="menu-item">
          <a href="{{ url_for('movies.movie_search') }}">SEARCH MOVIES</a>
        </li>
        <li class="menu-item">
          <a href="{{ url_for('movies.movie_add') }}">ADD MOVIES</a>
        </li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="{{ url_for('rentals.index') }}">RENTALS</a>
    </li>
		<li class="menu-item"><a href="#0">CONTACT</a></li>
    <!-- TODO: icon for the dropdown -->
    <!-- <i class="fas fa-user"></i> -->
    <li class="menu-item cursor-pointer">
      <i class="fas fa-user" aria-label="User icon"></i>
      <ol class="sub-menu">
        <li class="menu-item">
          <a href="{{ url_for('users.dashboard', username=session.username) }}">DASHBOARD</a>
        </li>
        <li class="menu-item">
          <a href="{{ url_for('users.logout') }}">LOGOUT</a>
        </li>
      </ol>
    </li>
    {% else %}
    <li class="menu-item"><a href="{{ url_for('users.login') }}">LOGIN</a></li>
    <li class="menu-item"><a href="{{ url_for('users.register') }}">REGISTER</a></li>
    {% endif %}
  </ol>
</nav>