<nav>
  <a href="{{ url_for('main.index') }}">retroBuster</a>
  <ul>
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('customers.index') }}">Customers</a></li>
    <li><a href="{{ url_for('customers.customer_search') }}">Customer search</a></li>
    <li><a href="{{ url_for('customers.customer_add') }}">Customer add</a></li>
    <li><a href="{{ url_for('movies.index') }}">Movies</a></li>
    <li><a href="{{ url_for('movies.movie_search') }}">Movie search</a></li>
    <li><a href="{{ url_for('movies.movie_add') }}">Movie add</a></li>
    <li><a href="{{ url_for('rentals.index') }}">Rentals</a></li>
  </ul>
</nav>

